{% extends 'templaite.html.twig' %}

{% block title %}Restauant{% endblock %}

{% block body %}
    <!-- HEADER-3
    ============================================= -->
    <header id="header-3"  class="header navik-header bg-primary header-transparent header-shadow">
        <div class="container">


            <!-- NAVIGATION MENU -->
            <div class="navik-header-container">


                <!-- CALL BUTTON -->
                <div class="callusbtn"><a ><i class="fas fa-phone"></i></a></div>


                <!-- LOGO IMAGE -->
                <div class="logo" data-mobile-logo="{{asset('assets/images/logo-01.png')}}" data-sticky-logo="{{asset('assets/images/logo-01.png')}}">
                    <a href="#"><img src="{{asset('assets/images/logo-01.png')}}" alt="header-logo"/></a>
                </div>


                <!-- BURGER MENU -->
                <div class="burger-menu">
                    <div class="line-menu line-half first-line"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu line-half last-line"></div>
                </div>


                <!-- MAIN MENU -->
                <nav class="navik-menu menu-caret navik-yellow">
                    <ul class="top-list">

                        <!-- DROPDOWN MENU -->
                        <li><a href="{{ path('app_front') }}" class="home">Home</a>
                            {# Check if the user is authenticated and has the "admin" role #}
                            {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_order_index') }}" class="home">Admin</a></li>
                        {% endif %}

                        <!-- DROPDOWN MENU -->
                        <li><a href="#" class="menu">Nos Menu</a>
                        <li><a href="#">Menu</a>
                            <ul>
                                {% for categorie in categories %}
                                    <li><a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">{{ categorie.nom }}</a></li>
                                {% else %}
                                    <li>Aucune Menu</li>
                                {% endfor %}
                            </ul>
                        </li>
                        </li>

                        <!-- MEGA MENU -->
                        <li class="mega-menu"><a class="evenement" href="#">Evenement</a>
                        </li>	<!-- END MEGA MENU -->

                        <!-- DROPDOWN MENU -->
                        <li><a href="#" class="galery">galery</a>

                        </li>

                        <!-- DROPDOWN MENU -->
                        <li><a href="#" class="contact">Contacts</a>
                            {% if app.user %}
                        <li><a href="{{ path('app_logout') }}" class="contact text-error">Déconnexion</a></li>
                        <li class="basket-ico ico-30">
                            <a href="{{ path('app_front_cart') }}">
                                <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint" id="cartItemCount">{{ cart|length }}</em></span>
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="contact">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}" class="contact">Inscription</a></li>

                        {% endif %}




                    </ul>
                </nav>


            </div>


        </div>
    </header>	<!-- END HEADER-3 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function scrollToSection(sectionId) {
                var element = document.querySelector(sectionId);
                if (element) {
                    var topOffset = element.getBoundingClientRect().top + window.pageYOffset;
                    window.scroll({ top: topOffset, behavior: 'smooth' });
                }
            }
            // Replace the class names in the following event listeners
            document.querySelector('.menu').addEventListener('click', function(e) {
                e.preventDefault();
                scrollToSection('#menu');
            });
            // Replace the class names in the following event listeners
            document.querySelector('.contact').addEventListener('click', function(e) {
                e.preventDefault();
                scrollToSection('#contact');
            });

            document.querySelector('.evenement').addEventListener('click', function(e) {
                e.preventDefault();
                scrollToSection('#evenement');
            });

            document.querySelector('.galery').addEventListener('click', function(e) {
                e.preventDefault();
                scrollToSection('#galery');
            });
        });
    </script>



    <!-- PAGE CONTENT
    ============================================= -->
    <div id="page" class="page">


 <!-- MENU-6
        ============================================= -->
        <section id="menu" class="wide-70 menu-section division">
            <div class="container">
                <!-- TITRE DE LA SECTION -->
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="section-title mb-60 text-center">
                            <!-- Titre -->
                            <h2 class="h2-xl red-color">Nos Menu</h2>
                            <!-- Texte -->
                            <p class="p-xl">Nos pizza 33 cm
                                À emporter une pizza au choix 12 €
                                Deux pizza au choix 18 €
                                Livraison une pizza 15 €</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for menu in menus %}
                        <!-- ITEM DU MENU #{{ loop.index }} -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="menu-6-item bg-white">
                                <!-- IMAGE -->
                                <div class="menu-6-img rel">
                                    <div class="hover-overlay">
                                        <!-- Image -->
                                        <img height="200" width="200" src="{{  vich_uploader_asset(menu, 'imageFile') }}" alt="{{ menu.title }}">
                                        <!-- Code de l'item -->
                                        <span class="item-code bg-tra-dark">Category : {{ menu.categorie.nom }}</span>
                                        <!-- Icône de zoom -->
                                        <div class="menu-img-zoom ico-25">
                                            <a href="{{  vich_uploader_asset(menu, 'imageFile') }}" class="image-link">
                                                <span class="flaticon-zoom"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- TEXTE -->
                                <div class="menu-6-txt rel">
                                    <!-- Note -->
                                    <div class="item-rating">
                                        <div class="stars-rating stars-lg">
                                            <!-- Votre code pour afficher la note -->
                                        </div>
                                    </div>
                                    <!-- Icône J'aime -->
                                    <div class="like-ico ico-25">
                                        <!-- Votre code pour l'icône J'aime -->
                                    </div>
                                    <!-- Titre -->
                                    <h5 class="h5-sm">{{ menu.title }}</h5>
                                    <!-- Description -->
                                    <p class="grey-color">{{ menu.info }}</p>
                                    <!-- Prix -->
                                    <div class="menu-6-price bg-coffee">
                                        <h5 class="h5-xs yellow-color">{{ menu.prix }} €</h5>
                                    </div>
                                    <!-- Ajouter au panier -->
                                    <div class="">

                                        {% set cartItem = cart[menu.id] ?? null %}
                                        {% if cartItem is not null and cartItem.quantity > 0 %}
                                            <a href="{{ path('add_to_cart', {'id': menu.id}) }}" class="btn btn-sm btn-success">
                                                <i class="fas fa-check text-warning"></i>  </a>
                                        {% else %}
                                            <a href="{{ path('add_to_cart', {'id': menu.id}) }}" class="btn btn-sm btn-primary">
                                                <i class="fas fa-cart-plus text-warning"></i>  </a>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div><!-- FIN DE L'ITEM DU MENU #{{ loop.index }} -->
                    {% endfor %}
                </div><!-- Fin de la rangée -->

            </div><!-- Fin du conteneur -->
        </section><!-- FIN DU MENU-6 -->
        <script>
            $(document).ready(function() {
                function updateCartItemCount() {
                    $.ajax({
                        url: '/get-cart-item-count', // Replace this with the URL of your controller action to get the cart item count
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            // Update the cart item count in the DOM
                            $('#cartItemCount').text(data.itemCount);
                        },
                        error: function(error) {
                            console.error('Error:', error);
                        }
                    });
                }

                $('.add-to-cart-link').on('click', function(e) {
                    e.preventDefault(); // Prevent the default behavior of the anchor link
                    const menuId = $(this).data('menu-id');
                    const quantityInput = $(`#quantity-${menuId}`);
                    const quantity = parseInt(quantityInput.val(), 10);
                    addToCart(menuId, quantity, quantityInput);
                    updateCartItemCount()
                });

                function addToCart(menuId, quantity, quantityInput) {
                    // Perform an AJAX request to your Symfony controller to add the item to the cart
                    $.ajax({
                        url: `/add-to-cart/${menuId}`,
                        type: 'POST',
                        dataType: 'json',
                        data: { quantity: quantity }, // Send the quantity as an object in the request data
                        success: function(data) {
                            // Handle the response and update the button text
                            console.log(data);
                            quantityInput.val(data.quantity); // Update the quantity input field with the updated quantity
                            updateButtonStatesFromLocalStorage()
                            // Update the cart state in local storage
                            updateCartInLocalStorage(menuId, data.quantity);
                        },
                        error: function(error) {
                            console.error('Error:', error);
                        }
                    });
                }

                // Function to update the cart state in local storage
                function updateCartInLocalStorage(menuId, quantity) {
                    const cartData = JSON.parse(localStorage.getItem('cart')) || {};
                    cartData[menuId] = quantity;
                    localStorage.setItem('cart', JSON.stringify(cartData));
                }

                // On page load, update the button texts based on the cart state stored in local storage
                function updateButtonStatesFromLocalStorage() {
                    const cartData = JSON.parse(localStorage.getItem('cart')) || {};
                    for (const menuId in cartData) {
                        const btnText = $(`#btnText_${menuId}`);
                        if (cartData[menuId] > 0) {
                            btnText.html(`<i class="fas fa-check"></i> ${cartData[menuId]} Ajouté`);
                        } else {
                            btnText.html(`<i class="fas fa-cart-plus"></i> Ajouter`);
                        }
                    }
                }

                // Call the updateButtonStatesFromLocalStorage function on page load
                updateButtonStatesFromLocalStorage();
            });
        </script>

        <!-- BANNER-4
        ============================================= -->
        <section id="banner-4" class="bg-fixed wide-100 banner-section division">
            <div class="container">
                <div class="row">
                    <!-- TEXTE DE LA BANNIÈRE -->
                    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                        <div class="banner-4-txt text-center">
                            <!-- Titre -->
                            <h4 class="h4-xl">Satisfaction garantie</h4>

                            <!-- Titre -->
                            <h2>Livraison une pizza 15€</h2>
                            <!-- Texte -->
                            <p class="p-lg">
                                Nos pizza 33 cm
                                À emporter une pizza au choix 12 €
                                Deux pizza au choix 18 €
                                Livraison une pizza 15 €</p>
                            <!-- Bouton d'appel -->
                            <a href="#" class="btn btn-lg btn-red tra-red-hover">Appeler : 03 71 60 01 13</a>
                        </div>
                    </div>
                </div> <!-- Fin de la ligne -->
            </div> <!-- Fin du container -->
        </section> <!-- FIN DE LA BANNIÈRE-4 -->



        <!-- FOOTER-2
        ============================================= -->
        <footer id="contact" class="footer division">
            <div class="container">
                <div class="footer-2-holder text-center">
                    <div class="row">


                        <!-- FOOTER INFO -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-info mb-30">

                                <!-- Title -->
                                <h5 class="h5-md">Location</h5>

                                <!-- Address -->
                                <p>78 rue docteur robert 21400 chatillon</p>


                            </div>
                        </div>


                        <!-- WORKING HOURS -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-info mb-30">

                                <!-- Title -->
                                <h5 class="h5-md">Temps de travaille</h5>

                                <!-- Text -->
                                <p>Dilusso21@outlook.fr</p>

                            </div>
                        </div>


                        <!-- FOOTER IMAGES -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-socials-links mb-30">

                                <!-- Title -->
                                <h5 class="h5-md">Suivez Nous sur</h5>

                                <!-- Text -->

                                <!-- List -->
                                <ul class="foo-socials text-center clearfix">
                                    <li><a href="assets/#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="assets/#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="assets/#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="assets/#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>

                                    <!--
                                    <li><a href="assets/#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="assets/#" class="ico-behance"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="assets/#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="assets/#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>
                                    <li><a href="assets/#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="assets/#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="assets/#" class="ico-vk"><i class="fab fa-vk"></i></a></li>-->
                                </ul>

                            </div>
                        </div>	<!-- END FOOTER IMAGES -->


                    </div> <!-- END FOOTER CONTENT -->


                    <!-- FOOTER COPYRIGHT -->
                    <div class="bottom-footer">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-10 offset-lg-1">

                                <!-- Links List -->
                                <ul class="bottom-footer-list clearfix">
                                    <li><p>&copy; 2023 Delusso. Tout les droit d'auteur</p></li>
                                </ul>

                            </div>
                        </div>  <!-- End row -->
                    </div>	<!-- END FOOTER COPYRIGHT -->


                </div>    <!-- End footer-2-holder -->
            </div>     <!-- End container -->
        </footer>	<!-- END FOOTER-2 -->




    </div>	<!-- END PAGE CONTENT -->

{% endblock %}
