{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0 text-center">Menu</h3>
    </div>
    <div class="card-body">
    <div class="table-responsive">
        <table id="myTable" class="table nowrap align-middle table-datatable" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
                <th>Info</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.title }}</td>
                <td>{{ menu.info }}</td>
                <td>{{ menu.prix }}</td>
                <td>
                        <img width="50" height="50" src="{{  vich_uploader_asset(menu, 'imageFile') }}" alt="{{ menu.title }}">

                </td>
                <td>
                    <a href="{{ path('app_menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    <div class="" style="bottom: 100px;position: fixed;right: 20px;z-index: 1000;">
        <a id="" href="{{ path('app_menu_new') }}" class="CustomerContracts-New btn btn-light bg-white waves-effect waves-light border-primary btn-rounded shadow-lg btn btn-icon btn-lg p-2" >
            <i class="mdi mdi-spin  mdi-plus-circle text-primary fs-36"></i>
        </a>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('datatable') }}
    {% endblock %}
